<% include ./partials/header.ejs %>
<div id="main">
  <div id="navbar">
    <div id="logo"><img src="/images/logo.png" alt=""></div>
    <div class="about">
      <a class="nav-link" href="/">Home <i class="ri-home-fill"></i></a>
      <a class="nav-link" href="/About">About<i class="ri-shake-hands-fill"></i></a>
      <a class="nav-link" href="/Community">Community<i class="ri-community-fill"></i></a>

    </div>
    <div class="user">
      <a href="/login"><i class="ri-user-3-fill"></i></a>
      <a href=""><i class="ri-global-fill"></i></a>
    </div>
  </div>
      <div id="aboutus">
        <h4>About Us</h4>
        <div id="container">
            <img src="/images/about.webp" alt="">
            <div class="description">
              <h2>who we are?</h2> <br>
              <p>This is not a sequel. This is skate. refreshed with a forever vision in
                mind. Reimagined with the skate. community - you - guiding us through development. We’re listening to you. Join
                us on this journey and help shape the future of skate. For more on the studio team behind skate. check out Full
                Circle, including its career page featuring recent job listings. Follow along on Twitter, Instagram and Discord
                for the latest news.</p> <br> <br><h2>What we offer</h2> <br><p>Our studio specialises in concept art, illustration, character design, art direction and marketing art. Looking for a visual development service that hasn’t been listed? Get in touch with our team to have a discussion about how we can meet your needs. We tailor our services to sync with your production pipeline as seamlessly as possible. From sketch to release, our clients trust us to deliver cutting-edge creative solutions with a superior finish.</p>
            </div>
        </div>
      </div>
      <div id="aboutpage2">
        <h5>our clients</h5>
        <h4>We set out to work with the best
          studios globally, and are proud to say
          that’s exactly what we do.</h4>

          <img src="/images/cutout.avif" alt="">
          <div class="imgcontainer">
            <div class="slide-container">
                <div class="slide-img"><img src="/images/brandlogo1.avif" alt=""></div>
    
      <div class="slide-img"><img src="/images/brandlogo2.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo3.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo4.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo5.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo6.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo1.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo1.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo2.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo3.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo4.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo5.avif" alt=""></div>
      <div class="slide-img"><img src="/images/brandlogo6.avif" alt=""></div>

     
      
      </div>
      </div>
<div id="imgcontainerr2">
  <img class="one" src="/images/brandlogo1.avif" alt="">
  <img  class="two"src="/images/brandlogo2.avif" alt="">
  <img class="three" src="/images/brandlogo3.avif" alt="">


</div>
      </div>
</div>
<% include ./partials/footer.ejs %>
